$color-black: #001122;
$color-white: #fff;

$color-primary: #4c79f0;
$color-primary-dark: #003da6;
$color-primary-light: #e5ecff;
$color-primary-border: #b2caf2;

$color-primary-black: #272d38;
$color-primary-dark-grey: #42444a;
$color-primary-grey: #7781a3;
$color-primary-light-grey: #c8ccdc;
$color-primary-white: #f7f7fb;

$color-coral: #ff877e;
$color-dark-coral: #fd7166;
$color-light-coral: #ffe8e6;
$color-border-coral: #fdbeb9;

$color-grey-1: #ecedef;
$color-grey-2: #8e949f;
$color-grey-3: #444444;
